<p>user works!</p>



<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre usuario</th>
      <th scope="col">Correo </th>
      <th scope="col">Teléfono</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios">
      <th scope="row">{{usuario.id}}</th>
      <td>{{usuario.username}}</td>
      <td>{{usuario.correo}}</td>
      <td>{{usuario.telefono}}</td>
      <td><a href="#">Editar</a></td>
      <td><a href="#">Eliminar</a></td>
    </tr>
  </tbody>
</table>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Crear usuario
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Crear usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="">
          <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Nombre de usuario</label>
              <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" name="password" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Correo</label>
              <input type="email" class="form-control" name="correo" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Telefono</label>
              <input type="number" class="form-control" name="telefono"  aria-describedby="emailHelp">
            </div>
            <button type="submit" class="btn btn-primary"  (click)="saveUser()">Guardar</button>
          </form>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Cerrar</button>
      </div>
    </div>
  </div>
</div>
